.transition-container {
    border: 2px solid red;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.interactive {
    height: 300px !important;
    width: 600px !important;
}

/* First container */

#hover-transition-button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2% 5% 2% 5%;
    background-color: white;
    color: white;

    transition: background-color 1s ease-out 0.25s;
}

#hover-transition-button:hover {
    background-color: black;
}

/* Second container */

#transform-div {
    background-color: blue;
    height: 100px;
    width: 200px;

    transition: transform 2s 1s;
}

#transform-div:hover {
    transform: rotate(180deg);
}

/* Third container */

.box {
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color: green;
    font-size: 14px;

    transition-property: background-color font-size transform color;
    transition-timing-function: ease-in-out;
}

.transformed-box {
    transform: rotate(270deg);
    background-color: yellow;
    color: red;
    font-size: 18px;
    transition-property: background-color font-size transform color;
    transition-timing-function: ease-in-out;  
}

.duration-1 {
    transition-duration: 0.5s;
}

.duration-2 {
    transition-duration: 2s;
}

.duration-3 {
    transition-duration: 5s;
}

/* Fourth container */

.timing-function > div[class] {
    width: 175px;
    min-width: 175px;
    margin-bottom: 4px;
    background-color: black;
    border: 1px solid red;
    color: white;
    transition-property: all;
    transition-duration: 7s;
}

.parent > div.timing-transformed {
    width: 90vw;
    min-width: 24em;
    background-color: magenta;
    color: yellow;
    border: 1px solid orange;
    transition-property: all;
    transition-duration: 2s;
  }

  .ease {
    transition-timing-function: ease;
  }
  .ease-in {
    transition-timing-function: ease-in;
  }
  .ease-out {
    transition-timing-function: ease-out;
  }
  .ease-in-out {
    transition-timing-function: ease-in-out;
  }
  .linear {
    transition-timing-function: linear;
  }
  .cb {
    transition-timing-function: cubic-bezier(0.2, -2, 0.8, 2);
  }
  